<ion-view view-title="Connexion">

  <ion-content>
    <div class="list card">
      <label class="item item-input">
        <input ng-model="email" type="text" placeholder="Email" class="item"/>
      </label>

      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="Mot de passe" class="item"/>
      </label>
    </div>

    <div class="text-center">
      <button ng-click="login(email, password)" class="button button-block button-stable" id="login-button">
        Se connecter
      </button>
      <a ui-sref="signup">Créer un compte</a>
    </div>


  </ion-content>
</ion-view>
