<ion-view view-title="Paramètres">

  <ion-content>

    <div class="card" id="parameters-card">
      <div class="item item-divider">
        Mon compte
      </div>
      <div class="item item-avatar">
        <img ng-src="{{user.face}}">
        <p>{{user.firstName}}  {{user.lastName}}</p>
        <p>{{user.email}}</p>
      </div>
    </div>

    <button ng-click="disconnect()" class="button button-block button-assertive" id="disconnect-button">
      Se déconnecter
    </button>

  </ion-content>

</ion-view>
