<ion-view view-title="Contacts">

  <ion-header-bar class="bar-light bar-subheader" id="researchBar">

    <label class="bar bar-header item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Rechercher" ng-model="model.search"/>
    </label>
  </ion-header-bar>

  <ion-content ng-init="initModel()">

    <ion-list id="contactsList">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts |
        orderBy:'firstName' | filter:searchContact" type="item-text-wrap" ng-if="contact._id !== user._id" ng-click="newPrivateConversation(contact)">
        <img ng-src="{{contact.face}}">
        <h2>{{contact.firstName}} {{contact.lastName}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
